# Rename this file to .env

# Get your Free GEMINI API KEY from Gemini AI Studio https://ai.google.dev/aistudio
# Copy and paste your api key into the left side of the Streamlit front end UI

# GEMINI_API_KEY="your api key goes here" 



# LANGSMITH
# Get your Free API KEY from https://smith.langchain.com

# LANGSMITH API KEY
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_API_KEY="your api key goes here"
LANGCHAIN_PROJECT=aiengineergrandmas
