# Rename this file to .env
# GEMINI_API_KEY="your api key goes here" Copy and paste your api key into the left side of the Streamlit front end UI

LANGSMITH
https://smith.langchain.com

# imports
from langsmith import traceable

# ADD this after import variables - @traceable

tracing_enabled = os.getenv("LANGCHAIN_TRACING_V2")  # Default to False if not set
api_key = os.getenv("LANGCHAIN_API_KEY")

# LANGSMITH API KEY
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_API_KEY="your api key goes here"
LANGCHAIN_PROJECT=aiengineergrandmas